* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  font-size: 10px;
  background: #fff !important;
  box-sizing: border-box;
  position: relative;
}

a, b, div, i, img, span {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  box-sizing: border-box;
}

.cur {
  border-bottom: 1px solid #005aaa !important;
}

.full {
  color: #111 !important;
}

.redtext {
  border-bottom: 1px solid #d30000 !important;
}

.o_g {
  width: 100%;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
}

.nav-left {
  width: 45%;
  height: 70px;
}
.nav-left a {
  display: inline-block;
  width: 81px;
  height: 70px;
  line-height: 70px;
}
.nav-left a img {
  width: 100%;
  font-size: 0;
}
.nav-left span {
  font-size: 20px;
  color: #111;
  margin-left: 30px;
  position: relative;
  top: 0px;
}

.nav-right {
  width: 45%;
  height: 70px;
  text-align: right;
  font-size: 14px;
}
.nav-right a {
  color: #005aaa;
  text-decoration: none;
  font-size: 14px;
}

.nav-left, .nav-right {
  display: inline-block;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(35, 36, 37, 0.9);
}

.fo-left, .fo-right {
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  color: #888888;
  font-size: 400;
  font-family: MicrosoftYaHei;
}
.fo-left a, .fo-right a {
  font-size: 12px;
  color: #888888;
  font-size: 400;
  font-family: MicrosoftYaHei;
}
.fo-left a:hover, .fo-right a:hover {
  color: #005aaa;
}

.fo-left {
  width: 45%;
}

.fo-right {
  width: 45%;
  text-align: right;
}

.o_u {
  width: 48%;
  display: inline-block;
}

body {
  position: relative;
}

.bg-con {
  height: 100%;
  background-image: url(../img/login_bg.webp);
  background-size: cover;
  background-position: center 0;
}

.main {
  width: 100%;
  height: 800px;
}
.main .wrapper {
  padding-top: 160px;
  min-height: 690px;
}

.info {
  width: 54%;
  padding-top: 45px;
  padding-right: 40px;
  display: inline-block;
  position: relative;
  top: -128px;
}
.info .line {
  width: 60px;
  display: inline-block;
  border-bottom: 8px solid #fff;
}
.info div {
  margin-top: 58px;
  line-height: 60px;
  font-size: 48px;
  color: #fff;
  font-weight: 800;
}

.form_con {
  width: 42%;
  box-sizing: border-box;
  display: inline-block;
  padding-right: 90px;
  position: relative;
  border-radius: 4px;
}
.form_con .form {
  max-width: 420px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}
.form_con .form .top {
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #111;
  font-weight: 800;
  font-size: 24px;
}
.form_con .form .fromLogin {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.tab_top {
  margin-bottom: 20px;
}
.tab_top li {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #111;
  text-align: center;
  line-height: 48px;
  height: 48px;
  cursor: pointer;
}
.tab_top li span {
  font-size: 18px;
  color: #005aaa;
}

.quickLogin .input-box {
  width: 100%;
  position: relative;
}
.quickLogin .input-box > span {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
  margin-left: 0;
  margin-bottom: 16px;
  margin-top: 0;
  display: inline-block;
  transition: all .2s;
}
.quickLogin .input-box > span > input {
  color: #eee;
  margin-left: 0;
  width: 100%;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 11px 0;
  outline: none;
  border: none;
}
.quickLogin .input-box > span .focus {
  color: #111;
}
.quickLogin .input-box label {
  position: absolute;
  left: 0;
  top: 11px;
  color: #aaa;
  font-size: 14px;
}
.quickLogin .button {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #005aaa;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  border-radius: 24px;
}
.quickLogin .rule-content {
  display: inline-block;
  width: 370px;
  text-align: left;
  color: #7d7d7d;
  margin-bottom: 16px;
}
.quickLogin .rule-content .checkbox.error {
  background-image: url(../img/login_checkbox_error.png);
}
.quickLogin .rule-content .checkbox.curr {
  background-image: url(../img/reg_agreeChecked.webp);
}
.quickLogin .rule-content .checkbox {
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
  background: url(../img/reg_agreeCheck.webp) no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}
.quickLogin .rule-content .rule.error .ruleTitle {
  color: #d30000;
}
.quickLogin .rule-content .rule.error a {
  color: #d30000;
  border-bottom: 1px solid #d30000;
}
.quickLogin .rule-content .rule {
  display: inline-block;
}
.quickLogin .rule-content .rule .ruleTitle {
  font-size: 14px;
  padding-left: 6px;
}
.quickLogin .rule-content .rule a {
  font-size: 12px;
  border-bottom: 1px solid #7d7d7d;
  color: #7d7d7d;
  padding-bottom: 1px;
}

.other {
  width: 100%;
  margin-top: 33px;
  padding-bottom: 20px;
  text-align: center;
}
.other li {
  display: inline-block;
  width: 20%;
  text-align: center;
}
.other li a {
  font-size: 40px;
}
.other li .icon-weixin2 {
  color: #d9f2cb;
}
.other li .icon-weixin2:hover {
  color: #94cb77;
}
.other li .icon-xinlangweibox {
  color: #ffe2c2;
}
.other li .icon-xinlangweibox:hover {
  color: #eba355;
}
.other li .icon-wangyihao {
  color: #f5c2ce;
}
.other li .icon-wangyihao:hover {
  color: #f6859f;
}
.other li .icon-renrenwang {
  color: #cbdeee;
}
.other li .icon-renrenwang:hover {
  color: #6cabe0;
}

.err {
  font-size: 14px;
  color: #d30000;
  margin: 10px 0 11px;
  line-height: 24px;
  display: none;
}

/*# sourceMappingURL=login.css.map */
