.nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
}

.nav-left {
  width: 45%;
  height: 70px;
}
.nav-left a {
  display: inline-block;
  width: 81px;
  height: 70px;
  line-height: 70px;
}
.nav-left a img {
  width: 100%;
  font-size: 0;
}
.nav-left span {
  font-size: 20px;
  color: #111;
  margin-left: 30px;
  position: relative;
  top: 0px;
}

.nav-right {
  width: 45%;
  height: 70px;
  text-align: right;
  font-size: 14px;
}
.nav-right a {
  color: #005aaa;
  text-decoration: none;
  font-size: 14px;
}

.nav-left, .nav-right {
  display: inline-block;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(35, 36, 37, 0.9);
}

.fo-left, .fo-right {
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  color: #888888;
  font-size: 400;
  font-family: MicrosoftYaHei;
}
.fo-left a, .fo-right a {
  font-size: 12px;
  color: #888888;
  font-size: 400;
  font-family: MicrosoftYaHei;
}
.fo-left a:hover, .fo-right a:hover {
  color: #005aaa;
}

.fo-left {
  width: 45%;
}

.fo-right {
  width: 45%;
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  font-size: 10px;
  background: #fff !important;
  box-sizing: border-box;
  position: relative;
}

a, b, div, i, img, span {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  box-sizing: border-box;
}

.cur {
  border-bottom: 1px solid #005aaa !important;
}

.full {
  color: #111 !important;
}

.redtext {
  border-bottom: 1px solid #d30000 !important;
}

.o_g {
  width: 100%;
  box-sizing: border-box;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eeeeee;
}
.main .main-title {
  color: #111;
  font-size: 30px;
  text-align: center;
  padding-bottom: 60px;
  font-weight: 700;
}
.main .form-list {
  max-width: 960px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 57px 70px 55px;
  margin-bottom: 60px;
}
.main .form-list .form-item {
  margin-bottom: 14px;
  position: relative;
}

.form-item .errMsg {
  text-align: left;
  color: #d30000;
  font-size: 14px;
  margin: 10px auto 0;
  width: 380px;
  padding-left: 87px;
  display: none;
}
.form-item span {
  display: inline-block;
}
.form-item .input-title {
  display: inline-block;
  font-size: 14px;
  color: #444;
  width: 56px;
  text-align: left;
}
.form-item .input {
  border-bottom: 1px solid #eee;
  margin: 0 13px 0 20px;
  position: relative;
  transition: border .2s;
}
.form-item .input .input-style {
  width: 360px;
  margin-left: 0;
  padding: 15px 15px 15px 0;
  border: none;
  outline: none;
}
.form-item .input label {
  position: absolute;
  font-size: 14px;
  top: 16px;
  left: 0;
  color: #aaa;
}
.form-item .input .showPw {
  position: absolute;
  right: 0;
  top: 11px;
  cursor: pointer;
}
.form-item .input .showPw i {
  font-size: 24px;
  color: #888;
}

.mimabox {
  position: absolute;
  right: -189px;
  top: 11px;
}
.mimabox .qiangruo {
  height: 25px;
  position: relative;
}
.mimabox .qiangruo li {
  float: left;
  margin-right: 3px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}
.mimabox .qiangruo .safe {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #6fc666 !important;
}
.mimabox .qiangruo .medium {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #fa6400 !important;
}
.mimabox .qiangruo .danger {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #d30000 !important;
}
.mimabox .qiangruo .normal {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #c8c8c8;
}

.float {
  position: absolute;
  height: 160px;
  width: 260px;
  z-index: 999;
  right: 3px;
  top: 28px;
  font-size: 14px;
  color: #fa6400;
  line-height: 24px;
  border: 1px solid #eee;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.float .float-cont {
  text-align: left;
  padding: 19px 26px 21px 20px;
}
.float .float-cont .text {
  color: #444;
}

.rule-content {
  display: inline-block;
  width: 370px;
  text-align: left;
  color: #7d7d7d;
  margin-left: 20px;
}
.rule-content .checkbox.curr {
  background-image: url(../img/reg_agreeChecked.webp);
}
.rule-content .checkbox {
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
  background: url(../img/reg_agreeCheck.webp) no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}
.rule-content .rule {
  display: inline-block;
}
.rule-content .rule .ruleTitle {
  font-size: 14px;
  padding-left: 6px;
}
.rule-content .rule a {
  font-size: 12px;
  border-bottom: 1px solid #7d7d7d;
  color: #7d7d7d;
  padding-bottom: 1px;
}

.regBtn-box {
  margin-top: 34px;
  margin-bottom: 14px;
}
.regBtn-box .registryBtn {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  width: 360px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #c8c8c8;
  border-radius: 24px;
  outline: none;
  border: none;
}
.regBtn-box .registryBtn.can {
  background-color: #005aaa;
}

/*# sourceMappingURL=registry.css.map */
