$ib:inline-block;
.header{
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  *{
    font-family: 微软雅黑 !important;
  }
}
.ou{
  display: $ib;
  box-sizing: border-box;
}
.hd-left{
  width: 75%;
  height: 100%;
  float: left;
  div{
    display: $ib;
  }
  .logo{
    width: 85px;
    display: $ib;
  }
  >.nav{
    margin-left: 80px;
    .box{
      display: $ib;
      padding: 0 30px;
      position: relative;
      height: 70px;
      >span{
        font-size: 14px;
        line-height: 70px;
        font-weight: 700;
      }
      >.list{
        position: absolute;
        width: 140px;
        background-color: #f6f6f6;
        left: 0;
        box-shadow: 0 8px 8px rgba(0,0,0,.2);
        top: 70px;
        display: none;
        z-index: 199;
        >a{
          width: 100%;
          height: 50px;
          line-height: 50px;
          color: #444;
          padding: 0 0 0 30px;
          text-align: left;
          display: inline-block;
          font-size: 14px;
          box-sizing: border-box;
          &:hover{
            color: #0c5ca8;
            background-color: #fff;
          }
        }
        >p{
          position: absolute;
          width: 100%;
          height: 6px;
          background-color: #005aaa;
          top: -6px;
          left: 0;
        }
      }
      >.list.pro{
        width: 180px;
        span{
          width: 100%;
          box-sizing: border-box;
          padding: 0 15px;
          display: block;
          height: 50px;
          line-height: 50px;
          color: #333;
          font-size: 14px;
          i{
            font-size: 20px;
            margin: 0 10px 0 1px;
          }
          a{
            font-size: 14px;
            color: #333;
          }
          &:hover{
            background-color: #fff;
            color: #0c5ca8;
            a{
              color: #0c5ca8;
            }
          }
        }
      }
    }
  }
}
// 列表页
.category{
  .detailed{
    width: 540px;
    box-sizing: border-box;
    position: absolute;
    left: 180px;
    top: 0;
    background-color: #fff;
    padding-top: 12px;
    padding-left: 7px;
    height: 467px;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, .1);
    display: none;
  }
}

.hd-right{
  width: 25%;
  height: 100%;
  // line-height: 70px;
  float: right;
  .search{
    width: 200px;
    position: relative;
    display: $ib;
    .input.curr{
      border-color: #c8c8c8;
    }
    .input{
      display: $ib;
      width: 80%;
      height: 36px;
      position: relative;
      padding: 0 15% 0 5%;
      border: 1px solid #fafafa;
      border-radius: 2px;
      background-color: #fafafa;
      .inputbox{
        position: relative;
        width: 100%;
        height: 100%;
        input{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          outline: none;
          color: #aaa;
          border: none;
          background-color: #fafafa;
        }
      }
      i{
        position: absolute;
        right: 3px;
        top: 0;
        line-height: 36px;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .shopcart{
    padding-left: 16px;
    font-size: 24px;
    color: #444;
    display: $ib;
    cursor: pointer;
  }
  .user{
    display: $ib;
    width: 40px;
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
    position: relative;
    a{
      display: inline-block;
      span{
        font-size: 24px;
        padding-left: 10px;
        line-height: 70px;
        display: $ib;
        color: #000;
      }
      
      &:hover{
        span{
          color: #000;
        }
      }
    }
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border:1px solid #eee;
      display: none;
    }
    .list{
      position: absolute;
      right: 0px;
      top: 71px;
      width: 200px;
      background-color: #f9f9f9;
      text-align: left;
      z-index: 19999;
      display: none;
      a{
        padding: 15px 30px;
        @include overflow();
        font-size: 14px;
        color: #111;
        line-height: 14px;
        display: block;
        &:hover{
          background-color: #fff;
          color: #0c5ca8;
        }
      }
    }
  }
}

// 搜索列表
.result-search,.normal-search{
  position: absolute;
  left: 0;
  top: 39px;
  border: 1px solid #c8c8c8;
  width: 100%;
  min-height: 100px;
  padding-bottom: 15px;
  border-top: none;
  text-align: left;
  background-color: #fff;
  display: none;
  z-index: 999;
  a{
    font-size: 14px;
    padding: 7px 15px;
    display: block;
    cursor: pointer;
    color: #111;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      background-color: #fafafa;
      color: #0c5ca8;
    }
  }
  span{
    font-size: 12px;
    color: #888;
    display: block;
    padding: 8px 8px 5px;    
  }
}